
	<div class="polje">
	<%= f.label :name, "Uporabniško Ime" %><br />
	<%= f.text_field :name %>
	</div>

	<div class="polje">
	<%= f.label :email, "e-pošta" %><br />
	<%= f.text_field :email %>
	</div>
	<div class="polje">
	<%= f.label :password, "Geslo" %><br />
	<%= f.password_field :password %>
	</div>
	<div class="polje">
	<%= f.label :password_confirmation, "Ponovi Geslo" %><br />
	<%= f.password_field :password_confirmation %>
	</div>
	