<table class="profile" summary="Profile information">
	<tr>
		<td class="main"><h1> <%= gravatar_for @user %>
		<%= @user.name %> </h1></td>
		<td class="sidebar round">
			<strong>Name</strong> <%= @user.name %><br />
			<strong>Url</strong> <%= link_to user_path(@user), @user %><br />
			</td>
	</tr>
	<br />
	<%= @user.email %>
	<br />
	<%= @user %>
	<br />
	<br />
	<br />
	<%= link_to "Izbriši", @user, :method => :delete,
	:confirm => "A si ziher?"
%>
